<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <pattern>[%level] [%date{ISO8601}] [%logger] [akkaSource=%X{akkaSource}][sourceThread=%X{sourceThread}] [mdc=ticket-#%X{ticketNumber}: %X{ticketDesc}] %msg%n</pattern>
            </PatternLayout>
        </Console>
        <File name="FILE" fileName="${sys:java.io.tmpdir}/service.log" append="false">
            <PatternLayout>
                <pattern>%date{ISO8601} level=[%level] logger=[%logger] akkaSource=[%X{akkaSource}] sourceThread=[%X{sourceThread}] mdc=[ticket-#%X{ticketNumber}: %X{ticketDesc}] - msg=[%msg]%n----%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="slick" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="org.testcontainers" level="warn" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="jmpicnic" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="de.heikoseeberger.akkalog4j" level="error" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>
    </Loggers>
</Configuration>